.container {
  display: flex;
  justify-content: center;
  height: 100vh;
  align-items: center;
}

body {
  /* background-color: #6a737f !important; */
  background-color: #2d3436 !important;
  height: 100vh !important;
  width: 100vw;
  overflow: hidden;
}

.particles canvas {
  position: absolute;
  left: 0;
  right: 0;
  bottom: 0;
  top: 0;
  height: 100vh;
  width: 100vw;
  z-index: -1;
}

.textStyles {
  color: "#fff !important";
}

path {
  pointer-events: all;
}

path:hover {
  opacity: 0.5;
  cursor: pointer;
}

.navbar {
  position: absolute;
  top: 0;
  left: 67.7777%;
  width: 33vw;
  background-color: rgba(60, 60, 60, 0.6);
  display: -ms-flexbox;
  display: flex;
  flex-wrap: wrap;
  align-items: center;
  justify-content: space-between;
  padding: 0.5rem 1rem;
  display: -ms-flexbox;
  align-content: space-between;
  color: #4caf50;
  z-index: 9999999;
  /* background-color: #4d545c; */
  border-bottom: 2px solid #fff;
  border-left: 2px solid #fff;
  border-bottom-left-radius: 20px;
  -ms-flex-line-pack: justify;
  -ms-flex-pack: justify;
  -ms-flex-align: center;
  -ms-flex-wrap: wrap;
}

.navbar a {
  color: #fff;
  font-weight: 700;
  font-size: 1.5em;
}

.profile h1 {
  margin-left: 20px;
}

.logout-button {
  border-radius: 20px;
  background-color: limegreen;
  color: white;
  border-style: none;
  padding-left: 20px;
  padding-right: 20px;
  /* margin-top: 10px;
  margin-bottom: 10px;
  margin-right: 10px; */
}

.logout-button:hover {
  transition: 0.3s;
  background-color: red;
  /* font-size: 20px; */
}

.App {
  /*   text-align: center;
  color: white; */
  /* display: grid;
  grid-template-columns: '1fr' */
  color: #fff;
  position: absolute;
  top: 20vh;
  left: -13vw;
}

.App:after {
  z-index: -1;
  width: 110vw;
  height: 41vh;
  background-color: rgba(60, 60, 60, 0.6);
  content: "";
  position: absolute;
  left: -10vw;
  top: -3vh;
  border-bottom: 2px solid #fff;
}

.App h1 {
  font-size: 3.10em;
  max-width: 32vw;
}

.navstyle {
  display: block;
  position: relative;
}

.score-num {
  display: none;
  position: absolute;
  background-color: #f9f9f9;
  color: black;
  min-width: 160px;
  box-shadow: 8px 8px 12px 0px rgba(0, 0, 0, 0.2);
  padding: 12px 16px;
  z-index: 1;
  margin-top: 9px;
}

.navstyle:hover {
  color: orange;
}

.navstyle:hover .score-num {
  display: block;
}

.title {
  margin-top: 10px;
  text-align: center;
  font-size: 35px;
  color: limegreen;
}

.title2 {
  margin-top: -20px;
  float: right;
  clear: right;
  margin-right: 6%;
  text-align: center;
  font-size: 25px;
  color: white;
}

.randomState {
  float: right;
  clear: right;
  margin-right: 6%;
  font-size: 50px;
  font-weight: bolder;
  color: limegreen;
}

.scoreText {
  float: right;
  clear: right;
  margin-right: 6%;
  color: white;
  font-size: 27px;
}

.highScore {
  float: right;
  clear: right;
  margin-right: 6%;
  color: white;
  font-size: 65px;
}

.scoreText2 {
  float: right;
  clear: right;
  margin-right: 6%;
  color: white;
  font-size: 27px;
}

.score {
  float: right;
  clear: right;
  margin-right: 6%;
  color: white;
  font-size: 65px;
}

.wrongAns {
  float: right;
  clear: right;
  margin-right: 6%;
  color: white;
  font-size: 65px;
}

.msg {
  float: right;
  clear: right;
  margin-right: 7%;
  color: red;
  font-size: 40px;
}

.globe-scoreText {
  float: right;
  margin-right: 15px;
  color: white;
  font-size: 15px;
}

.globe-highScore {
  float: right;
  clear: right;
  margin-right: 15px;
  color: white;
  font-size: 40px;
}

.globe-scoreText2 {
  float: right;
  clear: right;
  margin-right: 15px;
  color: white;
  font-size: 15px;
}

.globe-score {
  float: right;
  clear: right;
  margin-right: 15px;
  color: white;
  font-size: 40px;
}

.globe-wrongAns {
  float: right;
  clear: right;
  margin-right: 15px;
  color: white;
  font-size: 40px;
}

.globe-msg {
  float: right;
  clear: right;
  margin-right: 1%;
  color: red;
  font-size: 40px;
}

.map {
  margin: auto;
  width: 50%;
}

.flexStuff {
  color: white;
}

  .flexStuff-globe {
    color: white;
    display: -ms-flexbox;
    display: flex;
    -ms-flex-pack: center;
    /* justify-content: space-between; */
    flex-direction: column;
    align-items: flex-end;
    position: absolute;
    left: 75vw;
    top: -1vh;
    height: 50vh;
    /* background-color: blue !important; */
    width: 15vw;
    padding-bottom: 25px;
}

@media only screen and (max-width: 1650px) {
  .map {
    margin-left: 5%;
  }
}

@media only screen and (max-width: 1200px) {
  .flexStuff {
    display: flex;
    justify-content: center;
  }
  .scoreText {
    font-size: 13px;
  }

  .highScore {
    font-size: 32px;
  }

  .scoreText2 {
    font-size: 13px;
  }

  .score {
    font-size: 32px;
  }

  .wrongAns {
    font-size: 32px;
  }

  .msg {
    font-size: 20px;
  }
}

@media only screen and (max-width: 760px) {
  .globe-scoreText {
    font-size: 13px;
  }

  .globe-highScore {
    font-size: 32px;
  }

  .globe-scoreText2 {
    font-size: 13px;
  }

  .globe-score {
    font-size: 32px;
  }

  .globe-wrongAns {
    font-size: 32px;
  }
}

.scoreBoard {
  position: absolute;
  left: 67.677;
  top: 25%;
  background-color: yellow;
}
