/* .style {
  display: flex;
  justify-content: center;
  height: 100vh;
  align-items: center;
} */
.container {
  display: flex;
  justify-content: center;
  height: 100vh;
  align-items: center;
}

body {
  background-color: #6a737f !important;
  height: 100vh !important;
}

.textStyles {
  color: "#fff !important";
}

path {
  pointer-events: all;
}
path:hover {
  opacity: 0.50;
  cursor: pointer;
}